:root {
  --content-display-2xl-bold-weight: Bold;
  --content-display-2xl-light-weight: Light;
  --content-display-2xl-med-weight: Medium;
  --content-display-2xl-reg-weight: Regular;
  --content-display-2xl-semi-bold-weight: Semibold;
  --content-display-lg-bold-weight: Bold;
  --content-display-lg-light-weight: Light;
  --content-display-lg-med-weight: Regular;
  --content-display-lg-reg-weight: Regular;
  --content-display-lg-semi-bold-weight: Semibold;
  --content-display-md-bold-weight: Bold;
  --content-display-md-light-weight: Light;
  --content-display-md-med-weight: Medium;
  --content-display-md-reg-weight: Regular;
  --content-display-md-semi-bold-weight: Semibold;
  --content-display-sm-bold-weight: Bold;
  --content-display-sm-light-weight: Light;
  --content-display-sm-med-weight: Regular;
  --content-display-sm-reg-weight: Regular;
  --content-display-sm-semi-bold-weight: Semibold;
  --content-display-xl-bold-weight: Bold;
  --content-display-xl-light-weight: Light;
  --content-display-xl-med-weight: Medium;
  --content-display-xl-reg-weight: Regular;
  --content-display-xl-semi-bold-weight: Semibold;
  --content-display-xs-bold-weight: Bold;
  --content-display-xs-light-weight: Light;
  --content-display-xs-med-weight: Medium;
  --content-display-xs-reg-weight: Regular;
  --content-display-xs-semi-bold-weight: Semibold;
  --content-text-lg-bold-weight: Bold;
  --content-text-lg-light-weight: Light;
  --content-text-lg-med-weight: Medium;
  --content-text-lg-reg-weight: Regular;
  --content-text-lg-semi-bold-weight: Semibold;
  --content-text-md-bold-weight: Bold;
  --content-text-md-light-weight: Light;
  --content-text-md-med-weight: Medium;
  --content-text-md-reg-weight: Regular;
  --content-text-md-semi-bold-weight: Semibold;
  --content-text-sm-bold-weight: Bold;
  --content-text-sm-light-weight: Light;
  --content-text-sm-med-weight: Medium;
  --content-text-sm-reg-weight: Regular;
  --content-text-sm-semi-bold-weight: Semibold;
  --content-text-xl-bold-weight: Bold;
  --content-text-xl-light-weight: Light;
  --content-text-xl-med-weight: Medium;
  --content-text-xl-reg-weight: Regular;
  --content-text-xl-semi-bold-weight: Semibold;
  --content-text-xs-bold-weight: Bold;
  --content-text-xs-light-weight: Light;
  --content-text-xs-med-weight: Medium;
  --content-text-xs-reg-weight: Regular;
  --content-text-xs-semi-bold-weight: Semibold;
}
