:root {
  --color-colors-background-active: #f8fafc;
  --color-colors-background-brand-primary: #5f09ff;
  --color-colors-background-brand-primary-alt: #f5f8ff;
  --color-colors-background-brand-secondary: #b68fff;
  --color-colors-background-brand-section: #290073;
  --color-colors-background-brand-section-subtle: #3a0699;
  --color-colors-background-brand-solid: #5f09ff;
  --color-colors-background-brand-solid-hover: #3a0699;
  --color-colors-background-disabled: #cdd5df;
  --color-colors-background-disabled-subtle: #f8fafc;
  --color-colors-background-error-primary: #fef3f2;
  --color-colors-background-error-secondary: #fecdca;
  --color-colors-background-error-solid: #f04438;
  --color-colors-background-error-solid-hover: #b42318;
  --color-colors-background-overlay: #121926;
  --color-colors-background-primary: #ffffff;
  --color-colors-background-primary-hover: #f8fafc;
  --color-colors-background-primary-solid: #121926;
  --color-colors-background-primary-alt: #ffffff;
  --color-colors-background-quaternary: #e3e8ef;
  --color-colors-background-secondary: #eef2f6;
  --color-colors-background-secondary-solid: #4b5565;
  --color-colors-background-secondary-alt: #eef2f6;
  --color-colors-background-secondary-hover: #eaecf5;
  --color-colors-background-secondary-subtle: #f8fafc;
  --color-colors-background-success-primary: #ecfdf3;
  --color-colors-background-success-secondary: #dcfae6;
  --color-colors-background-success-solid: #b27417;
  --color-colors-background-tertiary: #e3e8ef;
  --color-colors-background-warning-primary: #fffaeb;
  --color-colors-background-warning-secondary: #fedf89;
  --color-colors-background-warning-solid: #dc6803;
  --color-colors-border-brand: #5f09ff;
  --color-colors-border-brand-alt: #4403b9;
  --color-colors-border-disabled: #cdd5df;
  --color-colors-border-disabled-subtle: #e3e8ef;
  --color-colors-border-error: #f04438;
  --color-colors-border-error-subtle: #fda29b;
  --color-colors-border-primary: #cdd5df;
  --color-colors-border-secondary: #e3e8ef;
  --color-colors-border-secondary-alt: rgba(0, 0, 0, 0.5);
  --color-colors-border-tertiary: #eef2f6;
  --color-colors-foreground-brand-primary: #5f09ff;
  --color-colors-foreground-brand-primary-alt: #4403b9;
  --color-colors-foreground-brand-secondary: #5f09ff;
  --color-colors-foreground-brand-secondary-alt: #3a0699;
  --color-colors-foreground-brand-secondary-hover: #4403b9;
  --color-colors-foreground-disabled: #9aa4b2;
  --color-colors-foreground-disabled-subtle: #cdd5df;
  --color-colors-foreground-error-primary: #d92d20;
  --color-colors-foreground-error-secondary: #f04438;
  --color-colors-foreground-fg-success-secondary: #b27417;
  --color-colors-foreground-primary: #121926;
  --color-colors-foreground-quaternary: #9aa4b2;
  --color-colors-foreground-quaternary-hover: #697586;
  --color-colors-foreground-secondary: #364152;
  --color-colors-foreground-secondary-hover: #202939;
  --color-colors-foreground-success-primary: #079455;
  --color-colors-foreground-tertiary: #4b5565;
  --color-colors-foreground-tertiary-hover: #364152;
  --color-colors-foreground-warning-primary: #dc6803;
  --color-colors-foreground-warning-secondary: #f79009;
  --color-colors-foreground-white: #ffffff;
  --color-colors-icon-primary: #ffffff;
  --color-colors-icon-brand: #4403b9;
  --color-colors-icon-featured-error: #f04438;
  --color-colors-icon-featured-gray: #697586;
  --color-colors-icon-featured-success: #b27417;
  --color-colors-icon-featured-warning: #f79009;
  --color-colors-icon-on-brand: #a270ff;
  --color-colors-text-brand-primary: #1d0051;
  --color-colors-text-brand-secondary: #3a0699;
  --color-colors-text-brand-secondary-hover: #290073;
  --color-colors-text-brand-tertiary-600: #4403b9;
  --color-colors-text-brand-tertiary-alt: #4403b9;
  --color-colors-text-disabled: #697586;
  --color-colors-text-error-primary-600: #d92d20;
  --color-colors-text-error-primary-hover: #b42318;
  --color-colors-text-placeholder: #697586;
  --color-colors-text-placeholder-subtle: #cdd5df;
  --color-colors-text-primary: #ffffff;
  --color-colors-text-primary-on-brand: #ffffff;
  --color-colors-text-quaternary: #697586;
  --color-colors-text-quaternary-on-brand: #8d50ff;
  --color-colors-text-secondary-700: #364152;
  --color-colors-text-secondary-hover: #202939;
  --color-colors-text-secondary-on-brand: #a270ff;
  --color-colors-text-success-primary: #079455;
  --color-colors-text-tertiary: #4b5565;
  --color-colors-text-tertiary-hover: #364152;
  --color-colors-text-tertiary-on-brand: #a270ff;
  --color-colors-text-warning-primary: #dc6803;
  --color-colors-text-white: #ffffff;
  --content-typo-display-2xl-bold-weight: Bold;
  --content-typo-display-2xl-light-weight: Light;
  --content-typo-display-2xl-med-weight: Medium;
  --content-typo-display-2xl-reg-weight: Regular;
  --content-typo-display-2xl-semi-bold-weight: Semibold;
  --content-typo-display-lg-bold-weight: Bold;
  --content-typo-display-lg-light-weight: Light;
  --content-typo-display-lg-med-weight: Regular;
  --content-typo-display-lg-reg-weight: Regular;
  --content-typo-display-lg-semi-bold-weight: Semibold;
  --content-typo-display-md-bold-weight: Bold;
  --content-typo-display-md-light-weight: Light;
  --content-typo-display-md-med-weight: Regular;
  --content-typo-display-md-reg-weight: Regular;
  --content-typo-display-md-semi-bold-weight: Semibold;
  --content-typo-display-sm-bold-weight: Bold;
  --content-typo-display-sm-light-weight: Light;
  --content-typo-display-sm-med-weight: Regular;
  --content-typo-display-sm-reg-weight: Regular;
  --content-typo-display-sm-semi-bold-weight: Semibold;
  --content-typo-display-xl-bold-weight: Bold;
  --content-typo-display-xl-light-weight: Light;
  --content-typo-display-xl-med-weight: Medium;
  --content-typo-display-xl-reg-weight: Regular;
  --content-typo-display-xl-semi-bold-weight: Semibold;
  --content-typo-display-xs-bold-weight: Bold;
  --content-typo-display-xs-light-weight: Light;
  --content-typo-display-xs-med-weight: Regular;
  --content-typo-display-xs-reg-weight: Regular;
  --content-typo-display-xs-semi-bold-weight: Semibold;
  --content-typo-text-lg-bold-weight: Bold;
  --content-typo-text-lg-light-weight: Light;
  --content-typo-text-lg-med-weight: Regular;
  --content-typo-text-lg-reg-weight: Regular;
  --content-typo-text-lg-semi-bold-weight: Semibold;
  --content-typo-text-md-bold-weight: Bold;
  --content-typo-text-md-light-weight: Light;
  --content-typo-text-md-med-weight: Regular;
  --content-typo-text-md-reg-weight: Regular;
  --content-typo-text-md-semi-bold-weight: Semibold;
  --content-typo-text-sm-bold-weight: Bold;
  --content-typo-text-sm-light-weight: Light;
  --content-typo-text-sm-med-weight: Regular;
  --content-typo-text-sm-reg-weight: Regular;
  --content-typo-text-sm-semi-bold-weight: Semibold;
  --content-typo-text-xl-bold-weight: Bold;
  --content-typo-text-xl-light-weight: Light;
  --content-typo-text-xl-med-weight: Medium;
  --content-typo-text-xl-reg-weight: Regular;
  --content-typo-text-xl-semi-bold-weight: Semibold;
  --content-typo-text-xs-bold-weight: Bold;
  --content-typo-text-xs-light-weight: Light;
  --content-typo-text-xs-med-weight: Regular;
  --content-typo-text-xs-reg-weight: Regular;
  --content-typo-text-xs-semi-bold-weight: Semibold;
}
