:root {
  --content-body-lg-bold-weight: Bold;
  --content-body-lg-light-weight: Light;
  --content-body-lg-med-weight: Medium;
  --content-body-lg-reg-weight: Regular;
  --content-body-lg-semi-bold-weight: Semibold;
  --content-body-md-bold-weight: Bold;
  --content-body-md-light-weight: Light;
  --content-body-md-med-weight: Medium;
  --content-body-md-reg-weight: Regular;
  --content-body-md-semi-bold-weight: Semibold;
  --content-body-sm-bold-weight: Bold;
  --content-body-sm-light-weight: Light;
  --content-body-sm-med-weight: Medium;
  --content-body-sm-reg-weight: Regular;
  --content-body-sm-semi-bold-weight: Semibold;
  --content-body-xl-bold-weight: Bold;
  --content-body-xl-light-weight: Light;
  --content-body-xl-med-weight: Medium;
  --content-body-xl-reg-weight: Regular;
  --content-body-xl-semi-bold-weight: Semibold;
  --content-body-xs-bold-weight: Bold;
  --content-body-xs-light-weight: Light;
  --content-body-xs-med-weight: Medium;
  --content-body-xs-reg-weight: Regular;
  --content-body-xs-semi-bold-weight: Semibold;
  --content-display-2xl-bold-weight: Bold;
  --content-display-2xl-light-weight: Light;
  --content-display-2xl-med-weight: Medium;
  --content-display-2xl-reg-weight: Regular;
  --content-display-2xl-semi-bold-weight: Semibold;
  --content-display-lg-bold-weight: Bold;
  --content-display-lg-light-weight: Light;
  --content-display-lg-med-weight: Regular;
  --content-display-lg-reg-weight: Regular;
  --content-display-lg-semi-bold-weight: Semibold;
  --content-display-md-bold-weight: Bold;
  --content-display-md-light-weight: Light;
  --content-display-md-med-weight: Medium;
  --content-display-md-reg-weight: Regular;
  --content-display-md-semi-bold-weight: Semibold;
  --content-display-sm-bold-weight: Bold;
  --content-display-sm-light-weight: Light;
  --content-display-sm-med-weight: Regular;
  --content-display-sm-reg-weight: Regular;
  --content-display-sm-semi-bold-weight: Semibold;
  --content-display-xl-bold-weight: Bold;
  --content-display-xl-light-weight: Light;
  --content-display-xl-med-weight: Medium;
  --content-display-xl-reg-weight: Regular;
  --content-display-xl-semi-bold-weight: Semibold;
  --content-display-xs-bold-weight: Bold;
  --content-display-xs-light-weight: Light;
  --content-display-xs-med-weight: Medium;
  --content-display-xs-reg-weight: Regular;
  --content-display-xs-semi-bold-weight: Semibold;
}
