:root {
  --color-button-large-link-default-background: #ffffff;
  --color-button-large-link-default-icon-color: #5f09ff;
  --color-button-large-link-default-text-color: #5f09ff;
  --color-button-large-link-destructive-background: #ffffff;
  --color-button-large-link-destructive-icon-color: #f04438;
  --color-button-large-link-destructive-text-color: #f04438;
  --color-button-large-link-disable-background: #ffffff;
  --color-button-large-link-disable-border: #cdd5df;
  --color-button-large-link-disable-icon-color: #9aa4b2;
  --color-button-large-link-disable-text-color: #9aa4b2;
  --color-button-large-primary-default-background: #5f09ff;
  --color-button-large-primary-default-icon-color: #ffffff;
  --color-button-large-primary-default-text-color: #ffffff;
  --color-button-large-primary-destructive-background: #f04438;
  --color-button-large-primary-destructive-icon-color: #ffffff;
  --color-button-large-primary-destructive-text-color: #ffffff;
  --color-button-large-primary-disable-background: #e3e8ef;
  --color-button-large-primary-disable-icon-color: #9aa4b2;
  --color-button-large-primary-disable-text-color: #9aa4b2;
  --color-button-large-secondary-default-background: #ffffff;
  --color-button-large-secondary-default-border: #5f09ff;
  --color-button-large-secondary-default-icon-color: #5f09ff;
  --color-button-large-secondary-default-text-color: #5f09ff;
  --color-button-large-secondary-destructive-background: #f8fafc;
  --color-button-large-secondary-destructive-border: #f04438;
  --color-button-large-secondary-destructive-icon-color: #f04438;
  --color-button-large-secondary-destructive-text-color: #f04438;
  --color-button-large-secondary-disable-background: #e3e8ef;
  --color-button-large-secondary-disable-border: #cdd5df;
  --color-button-large-secondary-disable-icon-color: #9aa4b2;
  --color-button-large-secondary-disable-text-color: #9aa4b2;
  --color-button-small-link-default-background: #ffffff;
  --color-button-small-link-default-icon-color: #5f09ff;
  --color-button-small-link-default-text-color: #5f09ff;
  --color-button-small-link-destructive-background: #ffffff;
  --color-button-small-link-destructive-icon-color: #f04438;
  --color-button-small-link-destructive-text-color: #f04438;
  --color-button-small-link-disable-background: #ffffff;
  --color-button-small-link-disable-icon-color: #9aa4b2;
  --color-button-small-link-disable-text-color: #9aa4b2;
  --color-button-small-primary-default-background: #5f09ff;
  --color-button-small-primary-default-icon-color: #ffffff;
  --color-button-small-primary-default-text-color: #ffffff;
  --color-button-small-primary-destructive-background: #f04438;
  --color-button-small-primary-destructive-icon-color: #ffffff;
  --color-button-small-primary-destructive-text-color: #ffffff;
  --color-button-small-primary-disable-background: #e3e8ef;
  --color-button-small-primary-disable-icon-color: #9aa4b2;
  --color-button-small-primary-disable-text-color: #9aa4b2;
  --color-button-small-secondary-default-background: #ffffff;
  --color-button-small-secondary-default-border: #5f09ff;
  --color-button-small-secondary-default-icon-color: #5f09ff;
  --color-button-small-secondary-default-text-color: #5f09ff;
  --color-button-small-secondary-destructive-background: #f8fafc;
  --color-button-small-secondary-destructive-border: #f04438;
  --color-button-small-secondary-destructive-icon-color: #f04438;
  --color-button-small-secondary-destructive-text-color: #f04438;
  --color-button-small-secondary-disable-background: #e3e8ef;
  --color-button-small-secondary-disable-border: #cdd5df;
  --color-button-small-secondary-disable-icon-color: #9aa4b2;
  --color-button-small-secondary-disable-text-color: #9aa4b2;
  --content-button-large-link-default-font-family: IBM Plex Sans Arabic;
  --content-button-large-link-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-large-link-disable-font-family: IBM Plex Sans Arabic;
  --content-button-large-primary-default-font-family: IBM Plex Sans Arabic;
  --content-button-large-primary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-large-primary-disable-font-family: IBM Plex Sans Arabic;
  --content-button-large-secondary-default-font-family: IBM Plex Sans Arabic;
  --content-button-large-secondary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-large-secondary-disable-font-family: IBM Plex Sans Arabic;
  --content-button-small-link-default-font-family: IBM Plex Sans Arabic;
  --content-button-small-link-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-small-link-disable-font-family: IBM Plex Sans Arabic;
  --content-button-small-primary-default-font-family: IBM Plex Sans Arabic;
  --content-button-small-primary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-small-primary-disable-font-family: IBM Plex Sans Arabic;
  --content-button-small-secondary-default-font-family: IBM Plex Sans Arabic;
  --content-button-small-secondary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-small-secondary-disable-font-family: IBM Plex Sans Arabic;
}
