:root {
  --color-button-primary-default-background: #5f09ff;
  --color-button-primary-default-icon-color: #ffffff;
  --color-button-primary-default-text-color: #ffffff;
  --color-button-primary-destructive-background: #f04438;
  --color-button-primary-destructive-icon-color: #ffffff;
  --color-button-primary-destructive-text-color: #ffffff;
  --color-button-primary-disable-background: #cdd5df;
  --color-button-primary-disable-icon-color: #9aa4b2;
  --color-button-primary-disable-text-color: #9aa4b2;
  --color-button-secondary-default-background: #f8fafc;
  --color-button-secondary-default-border: #5f09ff;
  --color-button-secondary-default-icon-color: #5f09ff;
  --color-button-secondary-default-text-color: #5f09ff;
  --color-button-secondary-destructive-background: #f8fafc;
  --color-button-secondary-destructive-border: #f04438;
  --color-button-secondary-destructive-icon-color: #f04438;
  --color-button-secondary-destructive-text-color: #f04438;
  --color-button-secondary-disable-background: #f8fafc;
  --color-button-secondary-disable-border: #cdd5df;
  --color-button-secondary-disable-icon-color: #9aa4b2;
  --color-button-secondary-disable-text-color: #9aa4b2;
  --content-button-primary-default-font-family: IBM Plex Sans Arabic;
  --content-button-primary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-primary-disable-font-family: IBM Plex Sans Arabic;
  --content-button-secondary-default-font-family: IBM Plex Sans Arabic;
  --content-button-secondary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-secondary-disable-font-family: IBM Plex Sans Arabic;
}
