:root {
  --color-background-active: #f8fafc;
  --color-background-brand-primary: #5f09ff;
  --color-background-brand-primary-alt: #f5f8ff;
  --color-background-brand-secondary: #a270ff;
  --color-background-brand-section: #3a0699;
  --color-background-brand-section-subtle: #290073;
  --color-background-brand-solid: #5f09ff;
  --color-background-brand-solid-hover: #3a0699;
  --color-background-disabled: #cdd5df;
  --color-background-disabled-subtle: #f8fafc;
  --color-background-error-primary: #fef3f2;
  --color-background-error-secondary: #fecdca;
  --color-background-error-solid: #f04438;
  --color-background-error-solid-hover: #b42318;
  --color-background-overlay: #121926;
  --color-background-primary: #202939;
  --color-background-primary-hover: #f8fafc;
  --color-background-primary-solid: #121926;
  --color-background-primary-alt: #f8fafc;
  --color-background-quaternary: #e3e8ef;
  --color-background-secondary: #eef2f6;
  --color-background-secondary-solid: #4b5565;
  --color-background-secondary-alt: #eef2f6;
  --color-background-secondary-hover: #eaecf5;
  --color-background-secondary-subtle: #f8fafc;
  --color-background-success-primary: #ecfdf3;
  --color-background-success-secondary: #dcfae6;
  --color-background-success-solid: #17bc6f;
  --color-background-tertiary: #e3e8ef;
  --color-background-warning-primary: #fffaeb;
  --color-background-warning-secondary: #fedf89;
  --color-background-warning-solid: #dc6803;
  --color-border-brand: #5f09ff;
  --color-border-brand-alt: #4403b9;
  --color-border-disabled: #cdd5df;
  --color-border-disabled-subtle: #e3e8ef;
  --color-border-error: #f04438;
  --color-border-error-subtle: #fda29b;
  --color-border-primary: #cdd5df;
  --color-border-secondary: #e3e8ef;
  --color-border-secondary-alt: rgba(0, 0, 0, 0.5);
  --color-border-tertiary: #eef2f6;
  --color-foreground-brand-primary: #5f09ff;
  --color-foreground-brand-primary-alt: #4403b9;
  --color-foreground-brand-secondary: #5f09ff;
  --color-foreground-brand-secondary-alt: #3a0699;
  --color-foreground-brand-secondary-hover: #4403b9;
  --color-foreground-disabled: #9aa4b2;
  --color-foreground-disabled-subtle: #cdd5df;
  --color-foreground-error-primary: #d92d20;
  --color-foreground-error-secondary: #f04438;
  --color-foreground-fg-success-secondary: #17bc6f;
  --color-foreground-primary-2: #121926;
  --color-foreground-quaternary: #9aa4b2;
  --color-foreground-quaternary-hover: #697586;
  --color-foreground-secondary: #364152;
  --color-foreground-secondary-hover: #202939;
  --color-foreground-success-primary: #079455;
  --color-foreground-tertiary: #4b5565;
  --color-foreground-tertiary-hover: #364152;
  --color-foreground-warning-primary: #dc6803;
  --color-foreground-warning-secondary: #f79009;
  --color-foreground-white: #ffffff;
  --color-icon-primary: #ffffff;
  --color-icon-brand: #4403b9;
  --color-icon-featured-error: #f04438;
  --color-icon-featured-gray: #697586;
  --color-icon-featured-success: #17bc6f;
  --color-icon-featured-warning: #f79009;
  --color-icon-on-brand: #a270ff;
  --color-text-brand-primary: #1d0051;
  --color-text-brand-secondary: #3a0699;
  --color-text-brand-secondary-hover: #290073;
  --color-text-brand-tertiary-600: #4403b9;
  --color-text-brand-tertiary-alt: #4403b9;
  --color-text-disabled: #697586;
  --color-text-error-primary-600: #d92d20;
  --color-text-error-primary-hover: #b42318;
  --color-text-placeholder: #697586;
  --color-text-placeholder-subtle: #cdd5df;
  --color-text-primary: #ffffff;
  --color-text-primary-on-brand: #ffffff;
  --color-text-quaternary: #697586;
  --color-text-quaternary-on-brand: #8d50ff;
  --color-text-secondary-700: #364152;
  --color-text-secondary-hover: #202939;
  --color-text-secondary-on-brand: #a270ff;
  --color-text-success-primary: #079455;
  --color-text-tertiary: #4b5565;
  --color-text-tertiary-hover: #364152;
  --color-text-tertiary-on-brand: #a270ff;
  --color-text-warning-primary: #dc6803;
  --color-text-white: #ffffff;
}
