:root {
  --color-colors-base-black: #000000;
  --color-colors-base-black-transparent: rgba(0, 0, 0, 0.5);
  --color-colors-base-white: #ffffff;
  --color-colors-base-white-transparent: rgba(255, 255, 255, 0.5);
  --color-colors-blue-25: #f5f8ff;
  --color-colors-blue-50: #eff4ff;
  --color-colors-blue-100: #d1e0ff;
  --color-colors-blue-200: #b2ccff;
  --color-colors-blue-300: #84adff;
  --color-colors-blue-400: #528bff;
  --color-colors-blue-500: #2970ff;
  --color-colors-blue-600: #155eef;
  --color-colors-blue-700: #004eeb;
  --color-colors-blue-800: #0040c1;
  --color-colors-blue-900: #00359e;
  --color-colors-blue-light-25: #f5fbff;
  --color-colors-blue-light-50: #f0f9ff;
  --color-colors-blue-light-100: #e0f2fe;
  --color-colors-blue-light-200: #b9e6fe;
  --color-colors-blue-light-300: #7cd4fd;
  --color-colors-blue-light-400: #36bffa;
  --color-colors-blue-light-500: #0ba5ec;
  --color-colors-blue-light-600: #0086c9;
  --color-colors-blue-light-700: #026aa2;
  --color-colors-blue-light-800: #065986;
  --color-colors-blue-light-900: #0b4a6f;
  --color-colors-brand-25: #f5f8ff;
  --color-colors-brand-50: #c9abff;
  --color-colors-brand-100: #b68fff;
  --color-colors-brand-200: #a270ff;
  --color-colors-brand-300: #8d50ff;
  --color-colors-brand-400: #7429ff;
  --color-colors-brand-500: #5f09ff;
  --color-colors-brand-600: #4403b9;
  --color-colors-brand-700: #3a0699;
  --color-colors-brand-800: #290073;
  --color-colors-brand-900: #1d0051;
  --color-colors-cyan-25: #f5feff;
  --color-colors-cyan-50: #ecfdff;
  --color-colors-cyan-100: #cff9fe;
  --color-colors-cyan-200: #a5f0fc;
  --color-colors-cyan-300: #67e3f9;
  --color-colors-cyan-400: #22ccee;
  --color-colors-cyan-500: #06aed4;
  --color-colors-cyan-600: #088ab2;
  --color-colors-cyan-700: #0e7090;
  --color-colors-cyan-800: #155b75;
  --color-colors-cyan-900: #164c63;
  --color-colors-error-25: #fffbfa;
  --color-colors-error-50: #fef3f2;
  --color-colors-error-100: #fee4e2;
  --color-colors-error-200: #fecdca;
  --color-colors-error-300: #fda29b;
  --color-colors-error-400: #f97066;
  --color-colors-error-500: #f04438;
  --color-colors-error-600: #d92d20;
  --color-colors-error-700: #b42318;
  --color-colors-error-800: #912018;
  --color-colors-error-900: #7a271a;
  --color-colors-grey-blue-25: #fcfcfd;
  --color-colors-grey-blue-50: #f8f9fc;
  --color-colors-grey-blue-100: #eaecf5;
  --color-colors-grey-blue-200: #d5d9eb;
  --color-colors-grey-blue-300: #b3b8db;
  --color-colors-grey-blue-400: #717bbc;
  --color-colors-grey-blue-500: #4e5ba6;
  --color-colors-grey-blue-600: #3e4784;
  --color-colors-grey-blue-700: #363f72;
  --color-colors-grey-blue-800: #293056;
  --color-colors-grey-blue-900: #101323;
  --color-colors-grey-modern-25: #fcfcfd;
  --color-colors-grey-modern-50: #f8fafc;
  --color-colors-grey-modern-100: #eef2f6;
  --color-colors-grey-modern-200: #e3e8ef;
  --color-colors-grey-modern-300: #cdd5df;
  --color-colors-grey-modern-400: #9aa4b2;
  --color-colors-grey-modern-500: #697586;
  --color-colors-grey-modern-600: #4b5565;
  --color-colors-grey-modern-700: #364152;
  --color-colors-grey-modern-800: #202939;
  --color-colors-grey-modern-900: #121926;
  --color-colors-grey-neutral-25: #fcfcfd;
  --color-colors-grey-neutral-50: #f9fafb;
  --color-colors-grey-neutral-100: #f3f4f6;
  --color-colors-grey-neutral-200: #e5e7eb;
  --color-colors-grey-neutral-300: #d2d6db;
  --color-colors-grey-neutral-400: #9da4ae;
  --color-colors-grey-neutral-500: #6c737f;
  --color-colors-grey-neutral-600: #4d5761;
  --color-colors-grey-neutral-700: #384250;
  --color-colors-grey-neutral-800: #1f2a37;
  --color-colors-grey-neutral-900: #111927;
  --color-colors-grey-true-25: #fcfcfc;
  --color-colors-grey-true-50: #f7f7f7;
  --color-colors-grey-true-100: #f5f5f5;
  --color-colors-grey-true-200: #e5e5e5;
  --color-colors-grey-true-300: #d6d6d6;
  --color-colors-grey-true-400: #a3a3a3;
  --color-colors-grey-true-500: #737373;
  --color-colors-grey-true-600: #525252;
  --color-colors-grey-true-700: #424242;
  --color-colors-grey-true-800: #292929;
  --color-colors-grey-true-900: #1c1917;
  --color-colors-indigo-25: #f5f8ff;
  --color-colors-indigo-50: #eef4ff;
  --color-colors-indigo-100: #e0eaff;
  --color-colors-indigo-200: #c7d7fe;
  --color-colors-indigo-300: #a4bcfd;
  --color-colors-indigo-400: #8098f9;
  --color-colors-indigo-500: #6172f3;
  --color-colors-indigo-600: #444ce7;
  --color-colors-indigo-700: #3538cd;
  --color-colors-indigo-800: #2d31a6;
  --color-colors-indigo-900: #2d3282;
  --color-colors-orange-25: #fefaf5;
  --color-colors-orange-50: #fef6ee;
  --color-colors-orange-100: #fdead7;
  --color-colors-orange-200: #f9dbaf;
  --color-colors-orange-300: #f7b27a;
  --color-colors-orange-400: #f38744;
  --color-colors-orange-500: #ef6820;
  --color-colors-orange-600: #e04f16;
  --color-colors-orange-700: #b93815;
  --color-colors-orange-800: #932f19;
  --color-colors-orange-900: #772917;
  --color-colors-pink-25: #fef6fb;
  --color-colors-pink-50: #fdf2fa;
  --color-colors-pink-100: #fce7f6;
  --color-colors-pink-200: #fcceee;
  --color-colors-pink-300: #faa7e0;
  --color-colors-pink-400: #f670c7;
  --color-colors-pink-500: #ee46bc;
  --color-colors-pink-600: #dd2590;
  --color-colors-pink-700: #c11574;
  --color-colors-pink-800: #9e165f;
  --color-colors-pink-900: #851651;
  --color-colors-purple-25: #fafaff;
  --color-colors-purple-50: #f4f3ff;
  --color-colors-purple-100: #ebe9fe;
  --color-colors-purple-200: #d9d6fe;
  --color-colors-purple-300: #bdb4fe;
  --color-colors-purple-400: #9b8afb;
  --color-colors-purple-500: #7a5af8;
  --color-colors-purple-600: #6938ef;
  --color-colors-purple-700: #5925dc;
  --color-colors-purple-800: #4a1fb8;
  --color-colors-purple-900: #3e1c96;
  --color-colors-success-25: #f6fef9;
  --color-colors-success-50: #ecfdf3;
  --color-colors-success-100: #dcfae6;
  --color-colors-success-200: #a9efc5;
  --color-colors-success-300: #75e0a7;
  --color-colors-success-400: #47cd89;
  --color-colors-success-500: #17bc6f;
  --color-colors-success-600: #079455;
  --color-colors-success-700: #067647;
  --color-colors-success-800: #085d3a;
  --color-colors-success-900: #074d31;
  --color-colors-teal-25: #f6fefc;
  --color-colors-teal-50: #f0fdf9;
  --color-colors-teal-100: #ccfbef;
  --color-colors-teal-200: #99f6e0;
  --color-colors-teal-300: #5fe9d0;
  --color-colors-teal-400: #2ed3b7;
  --color-colors-teal-500: #15b79e;
  --color-colors-teal-600: #0e9384;
  --color-colors-teal-700: #107569;
  --color-colors-teal-800: #125d56;
  --color-colors-teal-900: #134e48;
  --color-colors-warning-25: #fffcf5;
  --color-colors-warning-50: #fffaeb;
  --color-colors-warning-100: #fef0c7;
  --color-colors-warning-200: #fedf89;
  --color-colors-warning-300: #fec84b;
  --color-colors-warning-400: #fdb022;
  --color-colors-warning-500: #f79009;
  --color-colors-warning-600: #dc6803;
  --color-colors-warning-700: #b54708;
  --color-colors-warning-800: #93370d;
  --color-colors-warning-900: #7a2e0e;
}
