:root {
  --color-button-large-link-default-background: #ffffff;
  --color-button-large-link-default-icon-color: #5f09ff;
  --color-button-large-link-default-text-color: #5f09ff;
  --color-button-large-link-destructive-background: #ffffff;
  --color-button-large-link-destructive-icon-color: #f04438;
  --color-button-large-link-destructive-text-color: #f04438;
  --color-button-large-link-disable-background: #ffffff;
  --color-button-large-link-disable-border: #cdd5df;
  --color-button-large-link-disable-icon-color: #9aa4b2;
  --color-button-large-link-disable-text-color: #9aa4b2;
  --color-button-large-primary-default-background: #5f09ff;
  --color-button-large-primary-default-icon-color: #ffffff;
  --color-button-large-primary-default-text-color: #ffffff;
  --color-button-large-primary-destructive-background: #f04438;
  --color-button-large-primary-destructive-icon-color: #ffffff;
  --color-button-large-primary-destructive-text-color: #ffffff;
  --color-button-large-primary-disable-background: #e3e8ef;
  --color-button-large-primary-disable-icon-color: #9aa4b2;
  --color-button-large-primary-disable-text-color: #9aa4b2;
  --color-button-large-secondary-default-background: #ffffff;
  --color-button-large-secondary-default-border: #5f09ff;
  --color-button-large-secondary-default-icon-color: #5f09ff;
  --color-button-large-secondary-default-text-color: #5f09ff;
  --color-button-large-secondary-destructive-background: #f8fafc;
  --color-button-large-secondary-destructive-border: #f04438;
  --color-button-large-secondary-destructive-icon-color: #f04438;
  --color-button-large-secondary-destructive-text-color: #f04438;
  --color-button-large-secondary-disable-background: #e3e8ef;
  --color-button-large-secondary-disable-border: #cdd5df;
  --color-button-large-secondary-disable-icon-color: #9aa4b2;
  --color-button-large-secondary-disable-text-color: #9aa4b2;
  --color-button-small-link-default-background: #ffffff;
  --color-button-small-link-default-icon-color: #5f09ff;
  --color-button-small-link-default-text-color: #5f09ff;
  --color-button-small-link-destructive-background: #ffffff;
  --color-button-small-link-destructive-icon-color: #f04438;
  --color-button-small-link-destructive-text-color: #f04438;
  --color-button-small-link-disable-background: #ffffff;
  --color-button-small-link-disable-icon-color: #9aa4b2;
  --color-button-small-link-disable-text-color: #9aa4b2;
  --color-button-small-primary-default-background: #5f09ff;
  --color-button-small-primary-default-icon-color: #ffffff;
  --color-button-small-primary-default-text-color: #ffffff;
  --color-button-small-primary-destructive-background: #f04438;
  --color-button-small-primary-destructive-icon-color: #ffffff;
  --color-button-small-primary-destructive-text-color: #ffffff;
  --color-button-small-primary-disable-background: #e3e8ef;
  --color-button-small-primary-disable-icon-color: #9aa4b2;
  --color-button-small-primary-disable-text-color: #9aa4b2;
  --color-button-small-secondary-default-background: #ffffff;
  --color-button-small-secondary-default-border: #5f09ff;
  --color-button-small-secondary-default-icon-color: #5f09ff;
  --color-button-small-secondary-default-text-color: #5f09ff;
  --color-button-small-secondary-destructive-background: #f8fafc;
  --color-button-small-secondary-destructive-border: #f04438;
  --color-button-small-secondary-destructive-icon-color: #f04438;
  --color-button-small-secondary-destructive-text-color: #f04438;
  --color-button-small-secondary-disable-background: #e3e8ef;
  --color-button-small-secondary-disable-border: #cdd5df;
  --color-button-small-secondary-disable-icon-color: #9aa4b2;
  --color-button-small-secondary-disable-text-color: #9aa4b2;
  --color-text-field-default-hint-text-text-color: #202939;
  --color-text-field-default-input-background: #ffffff;
  --color-text-field-default-input-border: #e3e8ef;
  --color-text-field-default-input-icon-color: #9aa4b2;
  --color-text-field-default-input-text-color: #697586;
  --color-text-field-default-label-wrapper-text-color: #202939;
  --color-text-field-disabled-hint-text-text-color: #202939;
  --color-text-field-disabled-input-background: #e3e8ef;
  --color-text-field-disabled-input-border: #e3e8ef;
  --color-text-field-disabled-input-icon-color: #9aa4b2;
  --color-text-field-disabled-input-text-color: #697586;
  --color-text-field-disabled-label-wrapper-text-color: #202939;
  --color-text-field-error-hint-text-text-color: #f04438;
  --color-text-field-error-input-background: #ffffff;
  --color-text-field-error-input-border: #f04438;
  --color-text-field-error-input-icon-color: #9aa4b2;
  --color-text-field-error-input-text-color: #697586;
  --color-text-field-error-label-wrapper-text-color: #202939;
  --color-text-field-focus-hint-text-text-color: #202939;
  --color-text-field-focus-input-background: #ffffff;
  --color-text-field-focus-input-border: #202939;
  --color-text-field-focus-input-icon-color: #9aa4b2;
  --color-text-field-focus-input-text-color: #202939;
  --color-text-field-focus-label-wrapper-text-color: #202939;
  --content-button-large-link-default-font-family: IBM Plex Sans Arabic;
  --content-button-large-link-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-large-link-disable-font-family: IBM Plex Sans Arabic;
  --content-button-large-primary-default-font-family: IBM Plex Sans Arabic;
  --content-button-large-primary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-large-primary-disable-font-family: IBM Plex Sans Arabic;
  --content-button-large-secondary-default-font-family: IBM Plex Sans Arabic;
  --content-button-large-secondary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-large-secondary-disable-font-family: IBM Plex Sans Arabic;
  --content-button-small-link-default-font-family: IBM Plex Sans Arabic;
  --content-button-small-link-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-small-link-disable-font-family: IBM Plex Sans Arabic;
  --content-button-small-primary-default-font-family: IBM Plex Sans Arabic;
  --content-button-small-primary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-small-primary-disable-font-family: IBM Plex Sans Arabic;
  --content-button-small-secondary-default-font-family: IBM Plex Sans Arabic;
  --content-button-small-secondary-destructive-font-family: IBM Plex Sans Arabic;
  --content-button-small-secondary-disable-font-family: IBM Plex Sans Arabic;
  --content-text-field-default-hint-text-font-family: IBM Plex Sans Arabic;
  --content-text-field-default-input-font-family: IBM Plex Sans Arabic;
  --content-text-field-default-label-wrapper-font-family: IBM Plex Sans Arabic;
  --content-text-field-disabled-hint-text-font-family: IBM Plex Sans Arabic;
  --content-text-field-disabled-input-font-family: IBM Plex Sans Arabic;
  --content-text-field-disabled-label-wrapper-font-family: IBM Plex Sans Arabic;
  --content-text-field-error-hint-text-font-family: IBM Plex Sans Arabic;
  --content-text-field-error-input-font-family: IBM Plex Sans Arabic;
  --content-text-field-error-label-wrapper-font-family: IBM Plex Sans Arabic;
  --content-text-field-focus-hint-text-font-family: IBM Plex Sans Arabic;
  --content-text-field-focus-input-font-family: IBM Plex Sans Arabic;
  --content-text-field-focus-label-wrapper-font-family: IBM Plex Sans Arabic;
}
